@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #F9F9F9;
        border-radius: 6px;
        margin: 0 30px;
        padding: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #4C7EFF;
        border-radius: 10px;
    }
}